<html>
<head>
	<%= javascript_include_tag "jquery-1.10.2.min.js" %>
	<%= javascript_include_tag "jquery-ui-1.10.3.custom.js" %>
</head>

<body>
	<script type="text/javascript">
	$(function ( event, ui ) {
	    $( ".draggable" ).draggable({
	        revert: "invalid",
	        helper: 'clone',
	    });	
	    $( ".droppable" ).droppable({
	        drop: function( event, ui ) {
	    		$(this).attr('src', ui.draggable.attr('src'));
	    	}
	    });	
    });
	</script>

	<div id="gallery_page">
		<div class="image_list">
			<a href="#"><img id="imgList_item1" class="draggable" src="/assets/1.jpg" /></a>
			<a href="#"><img id="imgList_item2" class="draggable" src="/assets/2.jpg" /></a>
			<a href="#"><img id="imgList_item3" class="draggable" src="/assets/3.jpg" /></a>
		</div>

		<div class="content">
			<a href="#"><img id="contentImg1" class="droppable" src="/assets/1.jpg" /></a>
			<a href="#"><img id="contentImg2" class="droppable" src="/assets/2.jpg" /></a>
			<a href="#"><img id="contentImg3" class="droppable" src="/assets/3.jpg" /></a>
			<a href="#"><img id="contentImg4" class="droppable" src="/assets/4.jpg" /></a>
			<a href="#"><img id="contentImg5" class="droppable" src="/assets/5.jpg" /></a>
		</div>

		<div class="template_list">
			<a href="#"><img id="template1" src="/assets/template/1.png" /></a>
			<a href="#"><img id="template2" src="/assets/template/2.png" /></a>
			<a href="#"><img id="template3" src="/assets/template/3.png" /></a>
		</div>
	</div>
</body>
</html>
