// Place all the styles related to the PavoCanvases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body
{
    margin : 0 0 0 0;
}

.swan_topbar
{
    left: 0px;
    top: 0px;
    width: 100%;
    height: 165px;
    background-color: #a1dcd8;
    box-shadow: 0px 1px 10px 1px #888888;
}

.swan_plugin_edit_area
{
    position : relative;
    top: 5px;
    float:left;
    width: 23%;
    height: 160px;
    background-image : image-url("list_tab.png");
    background-repeat : no-repeat;
    background-color: #fffffb;
    background-position: top center;
}

.swan_innertext
{
    color : white;
    position : absolute;
    float : none;
    top : 123px;
    left : 7px;
   font-size: 14px;
   border-radius : 0 0 4px 4px;
   min-width : 114px;
   height : 20px;
   padding-top: 3px;
   padding-left : 6px;
   background-color :  rgba(0, 0, 0,0.6);
}

.swan_innertext_selected
{
    top : 126px;
    left : 9px;
}

.titleBar
{
    color : white;
    position : absolute;
    float : none;
    font-size: 14px;
    border-radius : 0 0 2px 2px;
    height : 20px;
    background-color :  rgba(0, 0, 0,0.6);
    top : 0px;
    padding-left: 6px;
    overflow : hidden;
    display: none;
}

.priceBar
{
    color : white;
    position : absolute;
    float : none;
    font-size: 18px;
    border-radius : 0 0 2px 2px;
    background-color :  rgba(0, 0, 0,0.6);
    bottom : 0px;
    height : 36px;
    padding-top: 9px;
    padding-left : 6px;
    overflow : hidden;
    display: none;
}

.image_list {
    height: 160px;
    position : relative;
    float : left;
    left : 0px;
    top: 5px;
    //padding-left: 4px;
    background-color: #fffffb;
    width: 77%;
}

.horizontal_scroll
{
    overflow:auto;
    overflow-y:hidden;
    white-space: nowrap;
}

.draggable {
    width: 120px;
    height: 120px;
}

.swan_image
{
    position : relative;
    width : 120px;
    height : 120px;
    padding-top : 25px;
    padding-left : 6px;
    padding-right : 6px;
    display: inline-block;
}

.image_list .swan_image .item_image
{
    width: 120px;
    height: 120px;
    float: left;
    border-width : 1px;
    border-color : #a1dcd8;
    border-radius: 4px;
    border-style : solid;
}

.swan_textbar
{
    position : absolute;
    float : none;
    top : 5px;
    left : 10px;
    color : black;
    width : 70%;
    height : 20px;
    background-color : #fffffb;
}

.draggable .item_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: auto;
    /*visibility: hidden;
    opacity: 0;*/
}

.draggable:hover .item_title {
    visibility: visible;;
    opacity: 1;
}

.change_picture_button {
    width: 16px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

#big_content_item img {
    width: 200px;
    height: 200px;
    float: left;
}

body{
    background-image : image-url("texture.png");
    background-repeat : repeat;
    background-color : #c5ebe8;

    //background: #eefbfb; /* Old browsers */
   // background: -moz-linear-gradient(top,  #eefbfb 0%, #c5ebe8 100%); /* FF3.6+ */
   // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eefbfb), color-stop(100%,#c5ebe8)); /* Chrome,Safari4+ */
 //   background: -webkit-linear-gradient(top,  #eefbfb 0%,#c5ebe8 100%); /* Chrome10+,Safari5.1+ */
  //  background: -o-linear-gradient(top,  #eefbfb 0%,#c5ebe8 100%); /* Opera 11.10+ */
  //  background: -ms-linear-gradient(top,  #eefbfb 0%,#c5ebe8 100%); /* IE10+ */
  //  background: linear-gradient(to bottom,  #eefbfb 0%,#c5ebe8 100%); /* W3C */
  //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eefbfb', endColorstr='#c5ebe8',GradientType=0 ); /* IE6-9 */
}

.leftcontent {
  width: 200px;
  margin-left: -100%;
  right: 200px;
}

#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 10px; padding: 0; width: 160px;  }
#selectable li { border-radius:4px; background: #a1dcd8; margin: 3px; padding: 1px; padding-top: 10px; float: left; width: 40px; height: 30px; font-size: 1em; text-align: center; }

.sharebox
{
    width: 180px;
    height : 200px;
    position: absolute;
    float : none;
    left : 81%;
    top : 440px;
    background-color : white;
    border-radius : 12px;
    box-shadow: 2px 2px 10px 2px #888888;
}

.sharebox div
{
    padding-top : 20px;
    margin : 20px 20px;
    width : 140px;
    word-wrap: break-word;

}

.rightcontent
{
    width: 226px;
height: 100%;
top: 0px;
left: 640px;
position: absolute;
}

.rightcontent img
{
    margin-top : 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content img {
    width: 100px;
    height: 100px;
    float: left;
}

.template_list {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
}

.clear{
    clear:both;
}

#content {
    width: 640px;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10pt;
    background-color: #eefbfb;
    position: relative;
}

#canvas
{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 600px;
    height: 400px;
}

.canvas_item
{
    position: absolute;
    outline:#a1dcd8 solid 6px;
}

.canvas_item_selected
{
    outline: #f9a7b5 solid 6px;
    z-index: 9999;
}

.button_container
{
    position: absolute;;
    bottom: 0;
    right: 0;
    margin-right: 3px;
    margin-bottom: 0px;
}

div.review_div
{
    width: 36px;
    height: 36px;
    display: inline-block;
}

.hover_scale:hover
{
    -webkit-transform: scale(1.1, 1.1);
}

div.no_review_div
{
    //opacity: 0.5;
}

div.no_review_div:hover
{
    opacity: 1;
}

div.like_div
{
    background-image: image-url("like_btn.png");
}

div.suck_div
{
    background-image: image-url("suck_btn.png");
}

div.detailToggleBtn
{
    width: 30px;
    height: 30px;
    position : absolute;
    top : 0px;
    right : -30px;
    background-image: image-url("info_btn.png");
    float: left;
    z-index: 99999;
}

div.detailToggleBtnSelected
{
    background-image: image-url("info_btn_over.png");
}

div.detailToggleBtn:hover
{
    background-image: image-url("info_btn_over.png");
}

.text_div
{
    color : white;
    font-size : 10px;
    position: absolute;
    display : inline-block;
    text-align : center;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-top : 6px;
}

#selector
{
    position: relative;;
    height: 160px;
}

#template_selector
{
    margin-left: auto;
    margin-right: auto;
    width: 475px;
    margin-bottom: 25px;
}

.template_selected
{
    border-width : 1px;
    border-color : #f9a7b5;
    border-radius: 4px;
    border-style : solid;
}

#canditate_selector
{
    padding-left: 20px;
    padding-right: 20px;
    clip: rect(0px, 620px, 150px, 0px);
}

.overlay
{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fffff8;
    z-index:9999;
    color:white;
    opacity: 0;
    border-radius: 4px;
    visibility: hidden;
}

.canditate_item
{
    margin-top: 0;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 120px;
    height: 140px;
    border-width : 1px;
    border-color : #a1dcd8;
    border-radius: 4px;
    border-style : solid;
}

.canditate_img
{
    width: 120px;
    height: 120px;
}

.canditate_owner_div
{
    position: absolute;
    bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    color: white;
    font-size: 14pt;
    border-radius : 0 0 4px 4px;
    height : 20px;
    width: 120px;
    background-color :  rgba(0, 0, 0,0.6);
    text-align: center;
}

.candidate_review_div
{
    margin-top: -5px;
    margin-left: 30px;
    margin-right: auto;
}

.review_small_item
{
    width: 20px;
    height: 20px;
    display: inline-block;
    color: black;
}

.small_text
{
    margin-top: 3px;
    text-align: center;
}

.delete_btn_over
{
    position: absolute;
    right: 8px;
    top: -10px;
    z-index: 99999;
}

.selector_item
{
    width: 90px;
    height: 60px;
    margin: 2px;
}

.item_selected
{
    border-width : 3px;
}

