// Place all the styles related to the PavoCanvases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_list {
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
}

.image_list img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
    margin-left: 5px;
    float: left;
}

.content {
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

#big_content_item img {
    width: 200px;
    height: 200px;
    float: left;
}

.content img {
    width: 100px;
    height: 100px;
    float: left;
}

.template_list {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #000000;
}

.clear{
    clear:both;
}

#canvas
{
    position: relative;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.canvas_item
{
    position: absolute;
    outline:black solid thin;
}

#template_selector
{
    background-color: black;
}

.template_item
{
    width: 100px;
    height: 100px;
    margin: 2px;
}
